.button{
inline-size: 2rem;
block-size:  2rem;
border: none;
background: 0;
background-color: unset;
background: repeat no-repeat;
background-position: center;
cursor: pointer;
flex-grow: 0;

}


.fa-solid{
    font-size: 1.8rem;
    color: black;
}

.fa-signal{
   font-size: 1.2rem !important;
}

.button:active{
    transform: scale(.9);
}

#play, #pause{
    padding-left: .75rem;
}
